@use "sass:math";
// variables
$btnWidth: 20px;     //hamburger-btn
$btnHeight: 2px;     //hamburger-btn
$color--black: #000;
$color--white: #FEFEFE;
$color--green: #2498B3;
$color--blue: #D4F1F8;
$color--lightblue: #F2FAFB;
$color--gray: #F7F7F7;

// mixin
@mixin breakpoint($point) {
    @if $point==tablet {
        @media (min-width: 768px) {  //768px以上でタブレットサイズ 767px以下はスマホスタイル
            @content ;
        }
    }

    @if $point==pc0 {
        @media (min-width: 1079px) { //1079px以上でrecommendation間の余白が固定される
            @content ;
        }        
    }

    @if $point==pc1 {
        @media (min-width: 1201px) {  //1201px以上の画面サイズでは ハンバーガーメニュー
            @content ;
        }
    }

    @if $point==pc2 {
        @media (min-width: 1261px) {  //1261px以上の画面サイズでは メニュー余白変え
            @content ;
        }
    }

    @if $point==pc3 {
        @media (min-width: 1281px) {  //1281px以上の画面サイズでは ロゴ横を出す
            @content ;
        }
    }
}

// base
html {
    font-size: 62.5%;
}

body {
    min-width: 320px;
    width: 100%;
    margin: 0;
    background: $color--white;
    font-size: 1.6rem;
    font-family: 'Noto Sans JP';
    color: $color--black;
    line-height: 2.7rem;
}

img {
    vertical-align: middle;
}

h1, h2, h3, h3, h4, h5, h6, p, figure {
    margin: 0;
    padding: 0;
    font-size: 100%;
}

ul, ol {
    list-style-type: none;
}

a {
    color: inherit;
    text-decoration: none;
}

// ヘッダー
header {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: $color--white;
    z-index: 1100;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 0 3px 6px -2px rgba(0, 0, 0, 0.1); //ヘッダー下に影
    @include breakpoint(pc1) {
        height: 70px;
    }
}

.header__left {
    width: 160px;
    display: flex;
    margin: 10px;
    align-items: center; //垂直方向に中央揃え
    @include breakpoint(pc1) {
        margin: 0 0 0 21px;
    }
    h1 {
        margin: 0;
        a {
            height: 30px;
            display: flex; //子要素をFlexboxとして配置
            align-items: center; //垂直方向に中央揃え
            @include breakpoint(pc1) {
                height: 70px;
            } 
            img {
                height: 30px;
                @include breakpoint(pc1) {
                    height: 33px;
                    width: auto;
                }
            }
        }
    }

    p {
        display: none;
        margin-left: 16px;
        white-space: nowrap;
        font-size: 1.4rem;
        font-weight: 900;
        line-height: 1.3;
        @include breakpoint(pc3) {
            display: inline-block;
        }
        strong {
            font-size: 1.8rem;
            font-weight: 900;
        }
    }
}

.header__right {
    height: 50px;
    @include breakpoint(pc1) {
        height: 70px;
        width: 762px;
        ul {
            display: flex;
        }
    }
    @include breakpoint(pc2) {
        width: 832px;
    }

    .nav__body {
        display: none;
        position: absolute; 
        top: 50px;
        left: 0;
        right: 0;
        background-color: white;
        z-index: 9999;
        @include breakpoint(pc1) {
            display: flex;
            position: static;
        }
        &.is-open {
            display: block;
        }

        .menu-item {
            margin: 0;
            padding: 0;
        

            .drop-btn {
                font-weight: 700;
                position: relative;
                @include breakpoint(pc1) {
                    padding: 0;
                    height: 70px;
                    display: flex;
                    align-items: center; //アイテムを垂直方向の中央に配置
                    margin: 0px;
                    white-space: nowrap;
                }
                &.application-btn a {
                    display: none;
                    @include breakpoint(pc1) {
                        display: flex;
                        color: $color--white;
                        background-color: $color--green;
                        &:hover {
                            background-color: $color--green; // リンク要素の背景色を変更
                        }
                    }
                }

                a {
                    display: inline-block;
                    height: auto;
                    width: 100%;
                    padding: 10px;
                    background-color: $color--white;
                    &:hover {
                        background-color: $color--lightblue;
                    }
                    @include breakpoint(pc1) {
                        display: flex;
                        padding: 0 10px;
                        height: 70px;  //カーソルを当てて反応するリンク領域を高さいっぱいにする
                        align-items: center;  //高さを指定すると上に寄ってしまうので垂直方向の中央へ配置
                        &:hover {
                            background-color: $color--blue;
                        }
                    }
                    @include breakpoint(pc2) {
                        padding: 15px;
                    }
                }
            

                .sub-menu {
                    display: none;
                    font-weight: 400;
                    @include breakpoint(pc1){
                        position: absolute;
                        top: 70px;
                        white-space: nowrap;
                    display: none;
                    }
                    a {
                        background-color: $color--white;
                        padding: 10px 10px 10px 25px;
                        &:hover {
                            display: block;
                            background-color: $color--lightblue;
                        }
                        @include breakpoint(pc1){
                            height: auto;
                            font-weight: 500;
                            padding: 3px 60px 3px 15px;
                            line-height: 52px;
                            background-color: $color--lightblue;
                            &:hover {
                                background-color: $color--white;
                                color: $color--green;
                            }
                        }
                    }
                }
            }
        }
    }
}



//ハンバーガーボタンの実装
.p-hamburger {
    width: 50px;
    height: 50px;
    background-color: $color--white;
    position: relative;
    @include breakpoint(pc1) {
        display: none;
    }

    &::before,
    &::after {
        content: "";
        width: $btnWidth;
        height: $btnHeight;
        background: $color--green;
        position: absolute;
        left: calc( 50% - math.div( #{$btnWidth}, 2) );
        display: block;
        transition: transform 0.2s;
    }

    &::before {
        top: 15px;
    }

    &::after {
        top: 35px;
    }

    > span {
        width: $btnWidth;
        height: $btnHeight;
        font-size: 0;
        background: $color--green;
        background-size: auto $btnHeight;
        position: absolute;
        left: calc( 50% - math.div( #{$btnWidth}, 2) );
        top: 50%;
        transition: transform 0.2s;
    }

    &.is-open {
            background-color: $color--green;
        &::before {
            transform: rotate( 45deg );
            top: 25px;
            background: $color--white;
        }
        &::after {
            transform: rotate( -45deg );
            top: 25px;
            background: $color--white;
        }
        > span {
            background: none;
        }
    }
}

body.is-open {
    position: flexed;
}

//sub-menuのアコーディオンメニュー＋−
.sub-btn {
    position: relative;
    right: 0;

    &::before,
    &::after {
        content: "";
        position: absolute;
        top: 50%;
        background-color: #121212;
        @include breakpoint(pc1) {
            display: none;
        }
    }

    &::before {
        right: 13px;
        width: 24px;
        height: 2px;
        margin-top: -1px;
        z-index: 7;
    }

    &::after {
        right: 24px;
        width: 2px;
        height: 24px;
        margin-top: -12px;
    }

    &.is-active {
        &::after {
            top: 0;
            right: 0;
            bottom: 0;
            width: 50px;
            height: auto;
            margin-top: 0;
            background-color: #F7F7F7;
        }
    }
}

//TopHead
.TopHead {
    background: url(../images/bg-hero3.png);//画像を繰り返さない。水平方向は中央、垂直方向は中央から上方向に25％の位置に配置。画像の大きさはメイン領域を埋め尽くす。//スクロールしても一緒に動かない。
    background-position: center -25px;
    background-size: cover;
    background-attachment: fixed;
    height: 300px;
    padding-bottom: 320px;
    position: relative;
    top: 50px;
    overflow: hidden;
    @include breakpoint(tablet) {
        height: 650px;
        background-position: center center;  //画像表示位置を50％50％で中央に指定。
    }
    @include breakpoint(pc1) {
        top: 70px;
    }

    &__layer {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
    }

    .layer1 {
        background: url(../images/bg-hero1.png);
        background-size: cover;
        align-items: flex-end;
        background-position: center -30px;
        z-index: 200;
        display: flex;
        justify-content: center;
        padding-top: 80px;
        @include breakpoint(tablet) {
            background-size: auto;
            align-items: flex-start;
            background-position: center center;
        }

        .inner-box {
            width: 100%;
            max-width: 100%;
            padding: 9px 0 13px;
            background-color: $color--white;
            text-align: center;
            @include breakpoint(tablet) {
                width: 413px;
                max-width: 530px;
                padding: 43px 40px 14px;
                border-radius: 10px;
            }

            .inner-logo {
                margin-top: 0;
                margin-bottom: 0.5rem;
                @include breakpoint(tablet) {
                    display: inline-block;
                }
                    img {
                    display: none;
                    @include breakpoint(tablet) {
                        display: inline-block;
                        width: 280px;
                        height: auto;
                    }
                }
            }

            p {
                margin: 0.5em 0;
                font-size: 1.3rem;
                font-weight: 700;
                line-height: 1.7;
                @include breakpoint(tablet) {
                    display: inline-block;
                    margin: 1em 0em 0.8em 0em;
                    font-size: 1.6rem;
                }
            }

            .inner-btn {
                display: inline-block;
                line-height: 1;
                    a {
                    display: block;
                    padding: 13px 19px;
                    font-size: 1.6rem;
                    font-weight: 700;
                    background-color: $color--green;
                    border-color: $color--green;
                    color: $color--white;
                    border-radius: 5px;
                    transition: all 0.4s ease-in; 
                    @include breakpoint(tablet) {
                        font-size: 1.8rem;
                        padding: 25px 38px;
                    }
                }
            }
        }
    }

    .layer2 {
        background: url(../images/bg-hero2.png) ;
        background-size: cover;
        background-position: center -25px;
        z-index: 100;
        @include breakpoint(tablet) {
            background-size: auto;
            background-position: center center;
        }
    }
}

//recommendation
.sec.sec--black{
    background-color: black;
    padding: 4em 0;
    position: absolute;
    top: 370px;
    width: 100%;
    @include breakpoint(tablet) {
        top: 700px;
        padding: 29px 0;
    }
    @include breakpoint(pc1) {
        top: 720px;
    }

    .wrap {
        margin: 0 10px;
        max-width: 1078px;
        @include breakpoint(tablet) {
            position: relative;
            bottom: 35px;
        }
        @include breakpoint(pc0) {
            margin: 0 auto;
        }
    
        .recommendation {
            margin-top: 0;
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            color: $color--white;
            z-index: 1000;
            position: relative;
            @include breakpoint(tablet) {
                flex-direction: row;
                align-items: flex-start;
                margin-top: -193px;
            }

            &__entry {
                margin-bottom: 2.5em;
                width: auto;
                margin-right: 2%;
                margin-left: 2%;
                &:last-child {
                    margin-bottom: 1em;
                    @include breakpoint(tablet) {
                        margin-bottom: 0;
                    }
                }
                @include breakpoint(tablet) {
                    width: 29.33%;
                    margin: 0 2%;
                }
                @include breakpoint(pc0) {
                margin: 0 50px;
                width: 229px;
                }
            }

            &__title {
                text-align: center;
                
                .title {
                    margin: 0.2em 0 0 0;
                    font-size: 2.4rem;
                    font-weight: 700;
                    line-height: 1.7;
                    
                }
            }

            &__icon {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 230px;
                height: 230px;                    
                margin: 0 auto;
                color: $color--black;
                border: solid 6px black;
                border-radius: 50%;
                background: $color--white;
                font-size: 100px;

                i {
                    font-family: "Font Awesome 6 Free";
                    font-weight: 900;
                    color: black;
                }
            }

            &__body p {
                margin: 0.5em 0 0 0;
                line-height: 1.7;
                font-weight: 700;
            }
        }
    }
}